.gauge_basic{
	width:200px;
	height:160px;
	float:left;	
}

h2{
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
}

.gauge_block {
	height:200px;
	position: relative;
	
}

#camera {
	height:240;
	width:320;
	border: 1px solid black;
	margin-top: 10px;
	margin-right: 50px;
	float:left;
}

.gauges {
	width:50%;
	float:left;
}

.map_box {
	float:left;
	height:90%;
	width:50%;
}