.gauge_basic{
	width:200px;
	height:160px;
	float:left;	
}

h2{
	font-weight: bold;
	font-size: 25px;
	font-family: Arial;
}

.gauge_block {
	height:200px;
	position: relative;;
}

#camera {
	height:240;
	width:320;
	border: 1px solid black;
	margin-top: -40px;
	margin-left: 40px;
	
}